*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --background-color:rgb(234,229,229);
    --color-black:#000000e0;
    --color-gray:#000000a9;
    --primary-color:#3ed1c2;
    --secondary-color:#d14e4e;
    --ternary-color:#b0c539;
    --white-color:rgb(255,255,255);
}
body{
    background-color: var(--background-color);
    /* font-family: 'Bebas Neue', cursive; */
    font-family: 'Macondo', cursive;
    /* font-family: 'Nunito Sans', sans-serif; */
}
/* _______________ first section ___________________ */
.container{
    padding: 3% 12%;
}
.myName{
    font-weight: bold;
    font-size: 45px;
    text-transform: capitalize;
}
/* _______________ header section ___________________ */

#header__container{
    font-family: 'Bebas Neue', cursive;
    padding-top: 2%;
}
.header__container--item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.header__container--item-link{
    color: var(--color-gray);
    text-decoration: none;
    margin-left: 1.3rem;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    padding-top: 2%;
}
.header__container--item-link:hover{
    color: var(--primary-color);
    transition: color .4s ease;
}
.header__container--item-active{
    color: var(--primary-color);
}
/* _______________ container section ___________________ */

#content__container{
    padding-top: 6%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}
.profile-img{
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    border: 3px solid var(--primary-color);
}
.content__title{
    margin:1rem 2rem;
    display: flex;
    flex-direction: column;
}
.paragraph{
    font-size: 1rem;
}
.content__title .first-p{
    font-size: 7rem;
    font-weight: bold;
}
.content__title .second-p{
    font-size: 3rem;
}
.subject__container{
    margin-top: 16%;
}
.subject__container--link{
    padding: 50px 30px;
    margin-left: 1rem;
    border-radius: 50%;
    text-decoration: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 0.8rem;
}
.subject__container--link:hover{
    /* opacity: 0.8; */
    /* color: var(--color-black); */
    background-color: var(--color-gray);
    transition: background-color .8s ease 0s;
}

.resum-link{
    background-color: var(--secondary-color);
}
.work-link{
    background-color: var(--primary-color);
}
.skills-link{
    background-color: var(--ternary-color);
}
.text{
    margin-top: 16%;
    text-align: justify;
    color: var(--color-gray);
}
footer#footer{
    padding: 4%;
    width: 100%;
    background-color: #b43434;
}
.footer__container{
    display: flex;
    justify-content: space-around;
}
.footer__container--item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__container--item p{
    color: var(--white-color);
}
.icon{
    font-size: 1.6rem;
    padding: 0.8rem 1rem;
    margin-right: 0.5rem;
    /* background-color: var(--primary-color); */
    border-radius: 50%;
    color: var(--primary-color);
}